<launch>
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <arg name="scitos_config" default="$(find scitos_mira)/resources/SCITOSDriver.xml"/>

    <arg name="laser" default="/dev/ttyUSB0" />

    <arg name="with_mux" default="false"/>
    <arg name="js" default="$(optenv JOYSTICK_DEVICE /dev/js1)" />

    <!-- Robot -->
    <include file="$(find strands_bringup)/launch/strands_robot.launch">
        <arg name="machine"  value="$(arg machine)"/>
        <arg name="user"  value="$(arg user)"/>

        <!-- SCITOS G5 Robot -->
        <arg name="scitos_config" value="$(arg scitos_config)"/>

        <!-- SICK S300 -->
        <arg name="laser"  value="$(arg laser)"/>

        <!-- cmd vel mux -->
        <arg name="with_mux" value="$(arg with_mux)"/>

        <!--- Teleop Joystick -->
        <arg name="js" value="$(arg js)" />
    </include>

</launch>
