<launch>
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <arg name="head_camera" default="false" />
    <arg name="head_ip" default="strands-sidekick" />
    <arg name="head_user" default="hydro-default" />

    <arg name="chest_camera" default="true" />
    <arg name="chest_ip" default="scitosstrands" />
    <arg name="chest_user" default="strands-user" />

    <include file="$(find strands_bringup)/launch/strands_cameras.launch">
        <arg name="machine"  value="$(arg machine)"/>
        <arg name="user"  value="$(arg user)"/>

        <!-- Head Xtion Camera -->
        <arg name="head_camera" value="$(arg head_camera)" />
        <arg name="head_ip"     value="$(arg head_ip)" />
        <arg name="head_user"   value="$(arg head_user)" />

        <!-- Chest Xtion Camera -->
        <arg name="chest_camera" value="$(arg chest_camera)" />
        <arg name="chest_ip"     value="$(arg chest_ip)" />
        <arg name="chest_user"   value="$(arg chest_user)" />
    </include>
</launch>
